.container {
  height: 100vh;
  width: 100vw;
  background: url("https://media.revistagq.com/photos/608beca246471da024885d58/4:3/w_1332,h_999,c_limit/apex-legends.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

.h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px #414e4d;
}

.button {
  background-color: #414e4d;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px #414e4d;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}
